{% extends 'base.html.twig' %}

{% block title %}Offers{% endblock %}

{% block body %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1>Checkout 51 Offers</h1>
            <p class="lead text-muted">This is a list of offers provided by Checkout 51. It can be sorted by name or cash back.</p>

            <div class="dropdown">
                <a class="btn btn-primary my-2 dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sort by
                </a>
                {% set sortNameActive = current_sort_by == 'name' ? 'active' : '' %}
                {% set sortCashBackActive = current_sort_by == 'cashBack' ? 'active' : '' %}

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item {{ sortNameActive }}" href="{{ path('offers', app.request.query.all|merge({'sort_by' : 'name'})) }}">Name</a>
                    <a class="dropdown-item {{ sortCashBackActive }}" href="{{ path('offers', app.request.query.all|merge({'sort_by' : 'cashBack'})) }}">Cash back</a>
                </div>

                {% set direction = current_sort_direction == 'DESC' ? 'ASC' : 'DESC' %}
                {% set title = current_sort_direction == 'DESC' ? 'Set Ascending Direction' : 'Set Descending Direction' %}
                <a href="{{ path('offers', app.request.query.all|merge({'direction' : direction})) }}" class="btn btn-secondary my-2" title="{{ title }}">

                    {% if current_sort_direction == 'DESC' %}
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
                        </svg>
                    {% else %}
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
                        </svg>
                    {% endif %}
                </a>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                {% for offer in offers %}
                    <div class="col-md-3">
                        <div class="card mb-4 shadow-sm">
                            <img class="img-thumbnail" src="{{ offer.imageUrl }}" alt="{{ offer.name }}">
                            <div class="card-body">
                                <p class="card-text">{{ offer.name }}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <strong class="text-muted">Cash back : {{ offer.cashBack }} $</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
